<!Doctype html>
<!-- Include {% csrf_token %} -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>
</head>
<body>
    <h1>Welcome to the library!</h1>
    <form method="post">
        {% csrf_token %}
        <!-- Insert form fields here -->
        <input type ="text" name="username" placeholder="Username">
        <input method = "text" name"password" placeholder="Password">
        <button type = "Submit"> Login </button>
    </form>
    <ul>
        {% for book in books %}
        <li>{{ book.title }} by {{ book.author.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>









</html>